#garment_form input[type=numeric] { width: 5em; }
	

div.layout {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}/* div.layout */


div.checkbox-control {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}/* div.checkbox-control */


div.checkbox-control input[type=checkbox] { margin-right: 0.5em }